body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.w3-row img {
  width: 235px;
  height: 205px;
  object-fit: cover;
}
footer a {
  text-decoration: none; /* uklanja crte */
  color: inherit;         /* ikone ostaju sive/crne */
}
@media (max-width: 600px) {
  .w3-third {
    width: 100%;
  }
}



    .card-horizontal {
      margin: 100px auto;
      margin-top: 200px;
      display: flex;
      max-width: 900px;
      width: 90%;
      border: 2px solid #000;
      background-color: #fff;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .card-horizontal .card-image {
      width: 40%;
      object-fit: cover;
    }

    .card-horizontal .card-image img {
      width: 90%;
      height: 100%;
      
    }

    .card-horizontal .card-text {
      width: 60%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .card-horizontal h1 {
      margin: 0 0 10px 0;
      font-size: 2em;
    }

    .card-horizontal p {
      margin: 0;
      font-size: 1em;
      line-height: 1.4;
      color: #333;
    }

    /* Responsive: na manjim ekranima slika gore, tekst dole */
    @media (max-width: 600px) {
      .card-horizontal {
        flex-direction: column;
      }
      .card-horizontal .card-image,
      .card-horizontal .card-text {
        width: 100%;
      }
    }
#contact{
  border-bottom:black 3px solid ;
}
.card-text{
  font-size: 19px;
}